a {
  text-decoration: none !important;
  color: white
}

.bor-b {
  border-bottom: 3px solid white;
}

.bor-hov:hover {
  transition: all 0.1s;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

/* 
.bck-bl {
  background-color: #0B0D17;

  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
} */

.main {
  font-family: 'Barlow', sans-serif;
  color: #d0d9f9;
}

.title {
  font-family: 'BelleFair', sans-serif;
  color: white;
}

.p-txt {
  font-size: 18px;
  line-height: 30px;
  //letter-spacing: 1.5px;
}

.container {
  display: inline-block;
}

.sm-title {
  color: #d0d9f9;
  font-size: 14px;
}

.numer {
  font-size: 28px
}