a {
  text-decoration: none !important;
  color: white
}

.bor-b {
  border-bottom: 3px solid white;
}

.bor-hov:hover {
  transition: all 0.1s;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.main {
  font-family: 'Barlow', sans-serif;
  color: #d0d9f9;
}

.title {
  font-family: 'BelleFair', sans-serif;
  color: white;
}

.big {
  font-size: 70px;
}

.p-txt {
  font-size: 18px;
  line-height: 30px;
  //letter-spacing: 1.5px;
}

.container {
  display: inline-block;
}

.sm-title {
  color: #d0d9f9;
  font-size: 14px;
}

.numer {
  font-size: 28px
}

.bg-default {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
}

.semi-title {
  font-family: 'Barlow Condensed', sans-serif;
  color: white;
  position: absolute;
  letter-spacing: 1.5px;

  .count {
    color: rgba(255, 255, 255, .5);
    margin-right: 10px;
  }
}

.page {
  display: flex;

  .circle {
    background-color: rgba(255, 255, 255, .2);
    width: 15px;
    height: 15px;
    border-radius: 50%;

    margin-right: 5%;

    cursor: pointer;
  }

  .circle:hover {
    background-color: rgba(255, 255, 255, .5);

    transition: all 0.2s;
  }

  .clicked {
    background-color: white;
  }
}

.pageinfo {
  .pageTab:hover {
    transition: all 0.2s;
    background-color: white;
    color: black;

    cursor: pointer;
  }

  .clicked {
    background-color: white;
    color: black;
  }
}


//margin
.mt90 {
  margin-top: 90px;
}



// spacing
.space {
  letter-spacing: 1.5px;
}


//font

.barCon {
  font-family: 'Barlow Condensed', sans-serif;
}

.bel {
  font-family: 'BelleFair', sans-serif;
}

//desktop
@media all and (min-width: 1024px) {

  .semi-mg {
    margin-left: 166.5px;
    margin-top: 170px;
    font-size: 30px;
  }
}

//tab
@media all and (min-width: 768px) and (max-width: 1023px) {
  .semi-mg {
    font-size: 20px;
    margin-left: 50px;
    top: 120px;
  }
}

//mobile
@media all and (max-width: 767px) {

  .semi-mg {
    text-align: center;
  }
}