@charset 'utf-8';

//desktop

@media all and (min-width: 1024px) {
  .bg-earth {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    z-index: -1;
  }

  #toolbar {
    font-family: 'Barlow', sans-serif;

    .bar {
      width: 930px;
      height: 96px;
      margin-top: 40px;
      backdrop-filter: blur(8px);
      background-color: rgba(255, 255, 255, 0.07);
      position: absolute;
      right: 0;
    }

    .line {
      position: absolute;
      width: 32vw;
      height: 1px;
      left: 10%;
      top: 88px;
    }

    .icon {
      position: absolute;
      width: 48px;
      height: 48px;
      left: 55px;
      top: 64px;
    }

    .menu {
      font-family: 'Barlow Condensed', sans-serif;
      position: absolute;
      top: 40px;
      display: flex;
      right: 47%;
      height: 55.5px;
      cursor: pointer;

      .items {
        margin-left: 17%;
      }

      .item {
        display: flex;
        letter-spacing: 2.5px;
      }

      .itemId {
        margin-right: 8px;
      }
    }
  }

  #home {
    display: inline-block;

    .container {
      display: grid;
      grid-template-columns: 4.5fr 1fr;
    }

    .home-txt {
      margin-left: 165px;
      margin-top: 310px;
      width: 450px;

      .semi {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 2.5px;
      }

      .space {
        font-size: 140px;
      }
    }

    .circle {

      .circle-btn {
        background-color: white;
        width: 240px;
        height: 240px;
        border-radius: 50%;
        border: 0;

        margin-top: 350px;

        .txt {
          font-size: 32px;
          text-align: center;
          line-height: 240px;
        }
      }

      .circle-btn:hover {
        transition: all 0.1s;
        cursor: pointer;
        outline: rgba(255, 255, 255, .5) solid 80px;
        outline-offset: 0px;
        border: 0;
      }

    }
  }

  #destination {
    font-family: 'Barlow Condensed', sans-serif;
    color: white;

    .planets {
      display: grid;
      margin-top: 250px;
      grid-template-columns: 3fr 1.5fr 0.5fr;
      //grid-template-columns: 900px 480px;
      position: relative;

      .img {
        display: flex;
        justify-content: center;
      }

      img {
        width: 400px;
        height: 400px;
      }
    }

    .tabs {
      color: white;

      letter-spacing: 2.5px;
      display: flex;
    }

    .info {
      display: grid;
      grid-template-rows: 1fr 3.2fr;

      .title {
        font-size: 100px;
      }

      .description {
        border-bottom: 1px solid rgba(255, 255, 255, .3);
      }
    }

    .travel {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .tab {
      margin-left: 5%;
      height: 34px;
      cursor: pointer;
    }

    .clicked {
      border-bottom: 2px solid white;
    }

    .default {
      color: #d0d9f9
    }

    .tab:hover {
      border-bottom: 2px solid rgba(255, 255, 255, .5);
      transition: all 0.1s;
    }
  }


  #crew {
    font-family: 'Barlow', sans-serif;
    color: white;

    display: inline-block;

    .info {
      display: grid;
      grid-template-columns: 5fr 3fr;
      margin-top: 300px;

      img {
        position: absolute;
        height: 576px;
        right: 10%;
        top: 160px;

        z-index: 0;
      }

      .type {
        font-family: 'BelleFair', sans-serif;
        font-size: 30px;
        color: rgba(255, 255, 255, .5)
      }

      .description {
        display: grid;
        grid-template-columns: 2fr 1fr;
      }

      .page {
        display: flex;

        .circle {
          background-color: rgba(255, 255, 255, .2);
          width: 15px;
          height: 15px;
          border-radius: 50%;

          margin-right: 5%;

          cursor: pointer;
        }

        .circle:hover {
          background-color: rgba(255, 255, 255, .5);

          transition: all 0.2s;
        }

        .clicked {
          background-color: white;
        }
      }

    }
  }

  #tech {
    font-family: 'Barlow', sans-serif;
    color: white;

    display: inline-block;

    .container {
      display: grid;
      grid-template-columns: 1.3fr 3fr 2fr;
      margin-top: 240px;

      img {
        width: 490px;
        height: 480px;
        margin-left: auto;

        z-index: 0;
      }

      .pageinfo {
        margin-left: 50%;
        font-size: 30px;

        .pageTab {
          margin-bottom: 30px;
          border: 2px solid rgba(255, 255, 255, .3);
          border-radius: 50%;

          width: 70px;
          height: 70px;

          text-align: center;
          line-height: 70px;
        }

        .pageTab:hover {
          transition: all 0.2s;
          background-color: white;
          color: black;

          cursor: pointer;
        }

        .clicked {
          background-color: white;
          color: black;
        }
      }

      .description {
        display: grid;
        grid-template-columns: 3fr 1fr;
      }

    }
  }

  @media all and (min-width: 1280px) {

    .content {
      display: grid;
      grid-template-rows: 1fr 3fr 8fr;
    }

    .crewmates {
      margin-left: 16%;
      display: grid;
      grid-template-rows: 0.7fr 1fr 2fr 0.7fr;

      z-index: 1;
    }
  }
}

@media all and (max-width: 1280px) {
  #crew {
    .crewmates {
      margin-left: 16%;
      display: grid;
      grid-template-rows: 0.4fr 1fr 1.2fr 0.7fr;

      z-index: 1;
    }
  }


  #tech {
    .content {
      display: grid;
      grid-template-rows: 0.5fr 3fr 8fr;
    }
  }
}

//tab

@media all and (min-width: 768px) and (max-width: 1023px) {
  .bg-earth {
    //transform: rotate(90deg);
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100px;

    /* Set up proportionate scaling */
    /*     width: 100%;
    height: 100vh; */

    bottom: 0;
    right: 0;
    top: 0;

    width: 1100px;
    height: 1100px;
    /* Set up positioning */
    position: fixed;
    transform: rotate(90deg);

    //background: url("@/assets/images/tab-bg-earth.jpg");

    z-index: -1;
  }

  #toolbar {
    font-family: 'Barlow', sans-serif;

    .line {
      display: none;
    }

    .bar {
      position: absolute;
      width: 70vw;
      height: 96px;
      right: 0;
      top: 0;

      backdrop-filter: blur(8px);
      background-color: rgba(255, 255, 255, 0.07);
    }

    .icon {
      position: absolute;
      width: 48px;
      height: 48px;
      left: 40px;
      top: 20px;
    }

    .menu {
      font-family: 'Barlow Condensed', sans-serif;
      display: flex;
      cursor: pointer;

      margin-top: 38px;

      .items {
        margin-left: 54px;
        height: 56px;
      }

      .item {
        display: flex;
        letter-spacing: 2.5px;
      }

      .itemId {
        display: none;
      }
    }
  }

  #home {
    display: inline-block;

    .home-txt {
      text-align: center;
      margin-top: 160px;

      .semi {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 2.5px;
      }

      .space {
        font-size: 110px;
      }

      .des {
        font-size: 16px;

        margin-left: 159px;
        margin-right: 159px;
      }
    }

    .circle {
      margin-top: 40px;
      display: flex;
      justify-content: center;

      .circle-btn {
        background-color: white;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 0;

        //margin-top: 350px;

        .txt {
          font-size: 27px;
          text-align: center;
          line-height: 200px;
        }
      }

      .circle-btn:hover {
        transition: all 0.1s;
        cursor: pointer;
        outline: rgba(255, 255, 255, .5) solid 30px;
        outline-offset: 0px;
        border: 0;
      }

    }
  }
}

@media all and (max-width: 767px) {
  .bg-earth {
    //transform: rotate(90deg);
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100px;

    /* Set up proportionate scaling */
    /*     width: 100%;
    height: 100vh; */

    width: 1000px;
    height: 1000px;

    bottom: 0;
    right: 0;
    top: 0;
    /* Set up positioning */
    position: fixed;
    transform: rotate(90deg);

    //background: url("@/assets/images/tab-bg-earth.jpg");

    z-index: -1;
  }

  #toolbar {
    font-family: 'Barlow', sans-serif;

    .line {
      display: none;
    }

    .bar {
      position: absolute;
      width: 70vw;
      height: 96px;
      right: 0;
      top: 0;

      backdrop-filter: blur(8px);
      background-color: rgba(255, 255, 255, 0.07);
    }

    .icon {
      position: absolute;
      width: 48px;
      height: 48px;
      left: 40px;
      top: 20px;
    }

    .menu {
      font-family: 'Barlow Condensed', sans-serif;
      display: flex;
      cursor: pointer;

      margin-top: 38px;

      .items {
        margin-left: 54px;
        height: 56px;
      }

      .item {
        display: flex;
        letter-spacing: 2.5px;
      }

      .itemId {
        display: flex;
      }
    }
  }
}