.bg-earth {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
}

#toolbar {
  font-family: 'Barlow', sans-serif;

  .bar {
    width: 60%;
    height: 96px;
    margin-top: 40px;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.04);
    position: fixed;
    right: 0;
  }

  .line {
    position: fixed;
    width: 32%;
    height: 1px;
    left: 10%;
    top: 88px;
  }

  .icon {
    position: fixed;
    width: 48px;
    height: 48px;
    left: 55px;
    top: 64px;
  }

  .menu {
    font-family: 'Barlow Condensed', sans-serif;
    position: absolute;
    top: 40px;
    display: flex;
    right: 47%;
    height: 55.5px;
    cursor: pointer;

    .items {
      list-style: none;
      margin-left: 17%;
    }

    .item {
      display: flex;
      letter-spacing: 2.5px;
    }

    .itemId {
      margin-right: 8px;
    }
  }
}

#home {
  display: inline-block;

  .container {
    display: grid;
    grid-template-columns: 1100px 100px;
  }

  .home-txt {
    margin-left: 165px;
    margin-top: 347px;
    width: 450px;

    .semi-title {
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 2.5px;
    }

    .space {
      font-size: 140px;
    }
  }

  .circle {
    right: 0;

    .circle-btn {
      background-color: white;
      width: 240px;
      height: 240px;
      border-radius: 50%;
      border: 0;

      margin-top: 400px;

      .txt {
        font-size: 32px;
        text-align: center;
        line-height: 240px;
      }
    }

    .circle-btn:hover {
      transition: all 0.1s;
      cursor: pointer;
      outline: rgba(255, 255, 255, .5) solid 50px;
      outline-offset: 0px;
      border: 0;
      //border: 10px solid rgba(255, 255, 255, 0.5);
    }

  }
}